body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin-top: 70px; 
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    padding: 10px;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
    
}
#AbrirNode{
    background-color: #33333300;
    border: 2px solid rgba(255, 204, 0, 0);
    border-radius: 10px;
}
#AbrirExpress{
    background-color: #33333300;    
    border: 2px solid rgba(255, 204, 0, 0);
    border-radius: 10px;
}