
footer {
    background-color: #333;
    color: #fff;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    width: 100%;
}

#texto-contenedor {
    display: flex;
    justify-content: start;
}

.image-container {
    display: flex;
    justify-content: center;
}



