<div id="body">
<div id="contenidomain" class="blur">
    <div id="textoinicio">
        <h1 id="titulo">Explorando a Fondo Node.js y Express :</h1>
        
    </div>
    <div id="contbotones">
        <div id="node">
            
            <button id="AbrirNode" routerLink="/node" type="button" ><img src="../assets/nodejs-1-logo-png-transparent.png" width="400px" alt=""></button>
        </div>
        <div>
        </div>
        <div id="Express">
                    <button routerLink="/express" id="AbrirExpress" onclick="" type="button" ><img src="../assets/f3a9a38b-116d-4b35-8f46-8d8abb78166f-removebg-preview.png" width="500px" alt=""></button>
        </div>
    </div>
</div>
</div>
