
#contenidomain {
    width: 100%;
    height: 80vh;
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
}


#contbotones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#node,
#Express {
    
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#ventananode,
#ventanexpress {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 130%; 
    max-width: 1300px; 
    height: 80vh; 
    border: 2px solid black;
    border-radius: 6px;
    padding: 30px;
    transition: opacity 0.9s ease-in-out;
}

/* responsive facil para node */
@media (max-width: 900px) {
    #ventananode,
    #ventanexpress {
        width: 90%;
        height: 80vh;
    }
}


#ventananode.show,
#ventanexpress.show {
  opacity: 1;
}

#ventananode.hide,
#ventanexpress.hide {
  opacity: 0;
}
#textoinicio{
    padding-left: 5%;
    
}
#titulo{
font-size: 40px;
margin-top: 2%;
font-weight: bold;
font-family: monospace;

}
#parrafo{
    font-size: 25px;
}




#botonmas{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all ease .55s;
}
#felchaabajo{
    width: 40px;
    animation: mover 2s infinite alternate; 
    transition: all ease .55s; 
}
#botonbota{
background-color: rgba(240, 248, 255, 0);
border: 0 solid;

}


#AbrirNode{
    background-color: rgba(250, 235, 215, 0);
    border: 0 solid;
    transition: all ease .55s;
    
}
#AbrirExpress{
    background-color: rgba(240, 248, 255, 0);
    border: 0 solid;
    transition: all ease .55s;
    
}

#Express:hover button{
    transform: scale(1.2);
}
#node:hover button{
    transform: scale(1.2);
}
#botonmas:hover button{
    transform: scale(1.2);
}
