
    <div id="contenidomain">
        <div id="contbotones">
            <div id="node">
                <p>Noede.Js</p>
                <button id="AbrirNode" onclick="">Abrir</button>
            </div>
            <div>
            </div>
            <div id="Express">
                <p>Express</p>
                <button id="AbrirExpress" onclick="">Abrir</button>
            </div>
        </div>

<div id="ventanaflotantes">
        <div id="ventanexpress" style="display: none;">
            <div>
                <h1>contenidomain</h1>
                <button id="cerrarexpress">Cerrar</button>
            </div>
        </div>
        <div id="ventananode" style="display: none;">
            <div>
                <h1>contenidomain</h1>
                <button id="cerrarexpressboton" onclick="">Cerrar</button>
            </div>
        </div>
    </div>
</div>
    





