<div id="contenedor">
    <h1>Node.js: Introducción y Evolución</h1>
    <div id="imagen">
    <img width="500px" src="../assets/nodejs-1-logo-png-transparent.png" alt=""> <br>
    </div>

    <p><strong>Node.js</strong> Node.js es un entorno de tiempo de ejecución de JavaScript (de ahí su terminación en .js haciendo alusión al 
        lenguaje JavaScript). Este entorno de tiempo de ejecución en tiempo real incluye todo lo que se necesita para ejecutar un programa 
        escrito en JavaScript. También aporta muchos beneficios y soluciona muchísimos problemas, por lo que sería más que interesante realizar
         nuestro curso de Node.js para obtener las bases, conceptos y habilidades necesarias que nos motiven a profundizar en sus opciones e 
         iniciar la programación. </p>

    <p><strong>Breve Historia:</strong>Node.js fue creado por los desarrolladores originales de JavaScript. Lo 
        transformaron de algo que solo podía ejecutarse en el navegador en algo que se podría ejecutar en los 
        ordenadores como si de aplicaciones independientes se tratara. Gracias a Node.js se puede ir un paso más 
        allá en la programación con JavaScript no solo creando sitios web interactivos, sino teniendo la capacidad 
        de hacer cosas que otros lenguajes de secuencia de comandos como Python pueden crear.  .Node.js fue creado 
        por Ryan Dahl en el año
        2009. Desde entonces, ha experimentado un crecimiento significativo y se ha convertido en una tecnología
        fundamental en el desarrollo de aplicaciones web.</p>

    <p><strong>Empresa Creadora:</strong> Actualmente, la empresa que mantiene Node.js es la 
           OpenJS Foundation.</p>

    <p><strong>Evolución:</strong> A lo largo de los años, Node.js ha alcanzado varios hitos importantes en su
        desarrollo, como la introducción de npm (Node Package Manager) y la adopción
        de ECMAScript 6 (ES6) en las versiones más recientes.</p>
        

    <p><strong>Empresas que lo Usan:</strong> Numerosas empresas, incluyendo gigantes tecnológicos como 
            class="highlight">Netflix y LinkedIn, han adoptado Node.js para
        sus servicios de servidor, aprovechando su eficiencia y escalabilidad.</p>
</div>