body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

#contenedor {
    max-width: 2000px;
    margin: 2% auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#imagen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    #imagen img {
        width: 100%;
    }
}