<div id="contenedor">
    <h1>Express.js: Introducción y Evolución</h1>
    <div id="imagen">
        <img width="700px" src="../assets/f3a9a38b-116d-4b35-8f46-8d8abb78166f-removebg-preview.png" alt=""> <br>
    </div>

    <p><strong>Express.js</strong> Express.js, a veces también llamado «Express», es un framework de backend Node.js minimalista, 
        rápido y similar a Sinatra, que proporciona características y herramientas robustas para desarrollar aplicaciones de backend 
        escalables. Te ofrece el sistema de enrutamiento y características simplificadas para ampliar el framework con componentes y 
        partes más potentes en función de los casos de uso de tu aplicación. El framework proporciona un conjunto de herramientas para 
        aplicaciones web, peticiones y respuestas HTTP, enrutamiento y middleware para construir y desplegar aplicaciones a gran escala y 
        preparadas para la empresa.</p>

    <p><strong>Historia:</strong> Express.js fue lanzado por primera vez en el año 2010,
        y desde entonces ha ganado popularidad como un marco ligero y flexible para el desarrollo web con Node.js.</p>
        <ul>
            <li>El primer lanzamiento fue el 22 de mayo de 2010 en la versión 0.12, según el repositorio GitHub de Express.js.</li>
            <li>En el 2014, la empresa StrongLoop adquiere el proyecto.</li>
            <li>En el 2015 La empresa IBM absorbe StrongLoop.</li>
            <li>En el 2016 IBM anuncia que traspasa el proyecto a la fundación Node.js.</li>
        </ul>

    <p><strong>Organización :</strong>Express.js no está mantenido por una organización
        específica, sino por una comunidad activa de desarrolladores.</p>

    <p><strong>Evolución:</strong> Desde su nacimiento de io.js se fueron liberando versiones semanales hasta llegar a la versión 3.3.0, 
        en consideración a esta evolución y al fuerte compromiso de la comunidad activa que se matuvo viva y fuerte por hacer crecer el 
        ecosistema de JavaScript en el servidor es que se decide relanzar Node en la versión 4.0.0.</p>
        <ul>
            <li>Enero 2015: Se libera io.js.</li>
            <li>Febrero 2015: Joyent anuncia la formación de la Fundación Node.js.</li>
            <li>Marzo 2015: Se distribuyen borradores de las reglas y normas de la Fundación Node.js.</li>
            <li>Mayo 2015: io.js obtiene los votos técnicos requeridos para entrar en la Fundación Node.js y comenzar el proceso de convergencia.</li>
            <li>Junio 2015: Lanzamiento oficial de la Fundación Node.js con miembros fundadores.</li>
            <li>Julio 2015: Se establece el comité directivo de la Fundación Node.js.</li>
            
        </ul>

    <p><strong>Empresas que lo Usan:</strong> Muchas empresas, desde startups hasta grandes corporativos, eligen Express.js
        para desarrollar sus aplicaciones web. Su enfoque minimalista y su amplia adopción en la comunidad lo convierten en
        una elección popular para construir servidores web eficientes.</p>
</div>

