body {
    margin: 0;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
    color: #000000;
    
    background: linear-gradient(to right, #ffffff, #cad6ec);
    /* background-color: azure; */
    background-size: 200% 100%;
    animation: movimientoDegradado 10s ease-in-out infinite;
  }
  
  @keyframes movimientoDegradado {
    0%, 100% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 0;
    }
  }

